<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fistagram</title>
</head>
<body>
   
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h5>Header 4</h5>

<p>This is a paragraph</p>
<p>This is a paragaraph</p>

<span>This is a text</span>
<span>This is a text 3</span>

<p>
<b>I am a bold text</b>
</p>


<p>
<i>I am a italic text</i>
</p>

<p>
    <b> I am a bold inside p</b>
</p>

<p>
    <i>I am an italic inside p</i>
</p>

<ul>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ul>

<ol>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
</ol>

<a href="https://google.ca">google</a>

<img src="https://blog.kale.bismart.com/hs-fs/hubfs/empresas%20customer-centric.jpg?width=1370&name=empresas%20customer-centric.jpg>" alt="image of developer">

<div></div>
<header></header>
<nav></nav>
<section></section>
<main></main>
<footer></footer>

<header>
    <h2>Alina Bhatia</h2>
</header>
<nav>
    <a href="">link 1</a>
    <a href="">link 2</a>
    <a href="">link 3</a>
    <a href="">link 4</a>
</nav>

</body>
</html>


<head>
    <link rel="stylesheet" href="../../../stylesheets/normalize.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
    <link rel="stylesheet" href="../../../stylesheets/lib.css">
    <h1>Finstagram</h1>
  </head>
  <main role="main">
    <article class="finstagram-post">
        <div class="user-info">
          <img src="https://live.staticflickr.com/65535/52358606250_01c667c5da_w.jpg" alt="sharky_j">
          <h2>sharky_j</h2>
          <h3>15 minutes ago</h3>
        </div>
        <a class="photo" href="#">
          <img src="https://live.staticflickr.com/65535/52358421508_786aa10e2c_c.jpg" alt="post from sharky_j">
        </a>
        <div class="actions">
          0 likes
          <span class="comment-count">0 comments</span>
        </div>
        <ul class="comments">
          <li>
            <p>
              sharky_j: Out for the long weekend... too embarrassed to show y'all the beach bod!
            </p>
          </li>
        </ul>
      </article>
  </main>

